#logo{
    border: 1px solid;
    height: 100px;
    width: 29%;
    background-color: aqua;
    overflow: hidden;
}

#logo img{
    display: block;
    margin: auto;
    width: 50%;
    position: relative;
}

#position-0{
    border: 1px solid;
    height: 100px;
    width: 70%;
    background-color: blueviolet;
    position: absolute;
    top: 8px;
    right: 6px;
}

.position-1{
    height: 44px;
    width: 100%;
    background-color: #333;
    margin-top: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Style de les liens de le menu de navigation */
.position-1 a{
    float: left;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 30px;
}

/* Change la couleur des liens hover */
.position-1 a:hover{
    background-color: #ddd;
    color: black;
}

/* Style du active lien*/
.position-1 a.active{
    background-color: #04aa6d;
    color: white;
}

#banner{
    border: 1px solid;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

#banner img{
    width: 100%;
}

.container{
    position: relative;
}

#position-3{
    margin: auto;
    border: 1px solid;
    height: 200px;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
}

#position-3{
    width: 48%;
}

#position-8{
    border: 1px solid;
    height: 1000px;
    width: 25%;
    position: absolute;
    top: 0;
}

#position-8 p{
    font-size: 25px;
    padding: 10px;
    text-align: justify;
}

#position-7{
    border: 1px solid;
    height: 1000px;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
}

#content{
    margin: auto;
    width: 48%;
    border: 1px solid;
    height: 750px;

}

#position-2{
    margin: auto;
    width: 48%;
    border: 1px solid;
    height: 50px;
}

footer{
    border: 1px solid;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}