#logo{
    border: 1px solid;
    height: 50px;
    width: 29%;
    background-color: aqua;
}

#position-0{
    border: 1px solid;
    height: 50px;
    width: 70%;
    background-color: blueviolet;
    position: absolute;
    top: 8px;
    right: 6px;
}

#position-1{
    border: 1px solid;
    height: 40px;
    width: 100%;
    background-color: #9a1271;
    margin-top: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#banner{
    border: 1px solid;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    position: relative;
}

#position-3{
    margin: auto;
    border: 1px solid;
    height: 200px;
    width: 48%;
    border-radius: 10px;
}

#position-8{
    border: 1px solid;
    height: 1000px;
    width: 25%;
    position: absolute;
    top: 0;
}

#position-7{
    border: 1px solid;
    height: 1000px;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
}

#content{
    margin: auto;
    width: 48%;
    border: 1px solid;
    height: 750px;

}

#position-2{
    margin: auto;
    width: 48%;
    border: 1px solid;
    height: 50px;
}

footer{
    border: 1px solid;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}