caption {
    color: red;
    font-weight: bold;
    font-size: 25px;

}

.impair {
    background-color: #ea849a;
}

th {
    width: 150px;
    color: red;
}

td {
    text-align: center;
}

/* Mettre tous les éléments dans une ligne en Bold lorsqu'on positionne la souris par dessus.*/
tr:hover {
    font-weight: bold;
}