caption {
    color: red;
    font-weight: bold;
    font-size: 25px;

}

.impair {
    background-color: #ea849a;
}

th {
    width: 150px;
    color: red;
}

td {
    text-align: center;
}

/* Mettre tous les éléments dans une ligne en Bold lorsqu'on positionne la souris par dessus.*/
tr:hover {
    font-weight: bold;
}

#boite1 {
    /* Haut et bas : 1em; Gauche et droite : 2em */
    margin : 1em 2em;

    /* Haut : 1em; Gauche et droite : 2em; Bas : 3em */
    padding : 1em 2em 3em;

    /* Haut : 1px; Droite : 2px; Bas : 3px; Gauche : 4px */
    border-width : 1px 2px 3px 4px;

    /* La bordure sera de type solid partout */
    border-style : solid;
}

#boite2 {
    margin : 1em;
    padding: 1em;
    border : 2px solid black;
}